<!-- <ion-header class="header">
  <ion-navbar>
    <ion-title text-center>Manos BTC</ion-title>
  </ion-navbar>
</ion-header> -->
<ion-content padding>
  <div class="center">
    <h2 text-center>Manos BTC</h2>
    <ion-list inset>

      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="text" [(ngModel)]="email" name="email" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></ion-input>
      </ion-item>

    </ion-list>

    <button ion-button color="primary" block (click)="login()">Entrar</button>
  </div>
</ion-content>
